@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media screen and (max-width: 989px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
