body {
  word-break: keep-all;
}

.mobile {
  display: none !important;
}

.subMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  z-index: 10;
}
.subMenu.active {
  display: block;
}
.subMenu .snsWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px 0;
  position: fixed;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.subMenu .snsWrap a {
  filter: opacity(0.5);
  transition: 0.3s;
}
.subMenu .snsWrap a:hover {
  filter: opacity(1);
}
.subMenu .contentWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 700px;
}
.subMenu .contentWrap .depth1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px 0;
}
.subMenu .contentWrap .depth1 .depth2 {
  position: relative;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.subMenu .contentWrap .depth1 .depth2 a {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.subMenu .contentWrap .depth1 .depth2 a:hover {
  color: #fff;
}
.subMenu .contentWrap .depth1 .depth2 > a {
  display: inline-block;
  font-size: 3.5em;
  font-weight: 600;
  position: relative;
}
.subMenu .contentWrap .depth1 .depth2 > a:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 6px;
  background: #fff;
  transition: 0.3s;
}
.subMenu .contentWrap .depth1 .depth2 > a:after {
  content: attr(data-index);
  position: absolute;
  top: 15px;
  left: -25px;
  font-size: 0.3em;
}
.subMenu .contentWrap .depth1 .depth2 .subContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.subMenu .contentWrap .depth1 .depth2 .subContent a {
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
}
.subMenu .contentWrap .depth1 .depth2 .subContent a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0.5px;
  background: #2e87d3;
  transition: 0.3s;
}
.subMenu .contentWrap .depth1 .depth2 .subContent a:hover:before {
  width: 100%;
}
.subMenu .contentWrap .depth1 .depth2:hover {
  transform: translateY(-25px);
}
.subMenu .contentWrap .depth1 .depth2:hover > a {
  color: #fff;
  transform: translateY(-10px);
}
.subMenu .contentWrap .depth1 .depth2:hover > a:before {
  width: 100%;
}
.subMenu .contentWrap .depth1 .depth2:hover .subContent {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.subMenu .bottom {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.subMenu .bottom .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  padding: 0 15px;
}
.subMenu .bottom .wrap ul {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.subMenu .bottom .wrap ul li {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.3);
}
.subMenu .bottom .wrap ul li:not(:last-child) {
  position: relative;
  margin-right: 20px;
}
.subMenu .bottom .wrap ul li:not(:last-child):before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 1px;
  height: 80%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
}
.subMenu .bottom .wrap ul li a {
  position: relative;
  letter-spacing: -1px;
  transition: 0.3s;
}
.subMenu .bottom .wrap ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 0.5px;
  background: #fff;
  transition: 0.3s;
}
.subMenu .bottom .wrap ul li a:hover {
  color: #fff;
}
.subMenu .bottom .wrap ul li a:hover:before {
  width: 100%;
}
.subMenu .bottom .wrap .copyrights {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
}
.subMenu .bottom .wrap .familyWrap {
  position: relative;
}
.subMenu .bottom .wrap .familyWrap .btnFamily {
  position: relative;
  text-align: left;
  color: #fff;
  padding: 15px 20px;
  width: 180px;
  border: 1px solid #fff;
}
.subMenu .bottom .wrap .familyWrap .btnFamily:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s;
}
.subMenu .bottom .wrap .familyWrap .btnFamily.active:before {
  transform: translateY(-50%) rotate(225deg);
}
.subMenu .bottom .wrap .familyWrap .optFamily {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -157px;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #000;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 0.3s;
}
.subMenu .bottom .wrap .familyWrap .optFamily.active {
  transform: scaleY(1);
}
.subMenu .bottom .wrap .familyWrap .optFamily a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}
.subMenu .bottom .wrap .familyWrap .optFamily a:hover {
  color: #000;
  background: #fff;
}

.goTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 9;
}
.goTop.active {
  display: block;
}
.goTop button {
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}
.goTop button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  mix-blend-mode: screen;
  transform: scale(0);
  transition: 0.5s ease;
  z-index: -1;
}
.goTop button span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(45deg);
  margin-bottom: 6px;
  position: relative;
}
.goTop button span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 2.5px;
  height: 10px;
  background: #fff;
  transform: rotate(-45deg);
  transform-origin: left;
}
.goTop button:hover {
  color: #000;
}
.goTop button:hover:before {
  transform: scale(1);
}
.goTop button:hover span {
  border-left: 3px solid #000;
  border-top: 3px solid #000;
}
.goTop button:hover span:before {
  background: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  z-index: 20;
  transition: opacity 1s ease, background 0.6s ease;
}
header.black {
  background: #000;
}
header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  transition: 0.3s;
}
header .navigation .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}
header .navigation .menu .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 7px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.3);
}
header .navigation .menu .lang .active {
  color: #fff;
}
header .navigation .menu .lang span {
  width: 35px;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.3);
}
header .navigation .menu .btnSub {
  position: relative;
  width: 40px;
  height: 16px;
  transition: 0.3s;
}
header .navigation .menu .btnSub span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transform-origin: left;
  transition: 0.3s;
}
header .navigation .menu .btnSub span:nth-child(2) {
  top: 100%;
}
header .navigation .menu .btnSub.active span:nth-child(1) {
  transform: translateY(-6px) rotate(45deg);
}
header .navigation .menu .btnSub.active span:nth-child(2) {
  transform: translateY(6px) rotate(-45deg);
}

section:not(.sec1) {
  padding-top: 250px;
  background: #000;
  overflow: hidden;
}
section:not(.sec1) .titleWrap .title {
  font-size: 4em;
  color: #fff;
  letter-spacing: -2px;
  text-align: center;
}

.sec1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.sec1 .mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
}
.sec1 .mask img {
  display: block;
  transition: 1s;
}
.sec1 .wrap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 100%);
  -webkit-clip-path: polygon(40% 40%, 60% 40%, 60% 60%, 40% 60%);
          clip-path: polygon(40% 40%, 60% 40%, 60% 60%, 40% 60%);
  transition: transform 1s ease 1s, -webkit-clip-path 1s ease 2s;
  transition: transform 1s ease 1s, clip-path 1s ease 2s;
  transition: transform 1s ease 1s, clip-path 1s ease 2s, -webkit-clip-path 1s ease 2s;
}
.sec1 .wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.sec1 h1 {
  position: absolute;
  left: 80px;
  bottom: 100px;
  font-size: 3.5em;
  letter-spacing: -3px;
  color: #fff;
  opacity: 0;
  transform: translateY(50%);
  overflow: hidden;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 4s;
}
.sec1.active .mask img {
  transform: scale(1.4);
}
.sec1.active .wrap {
  transform: translate(-50%, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.sec1.active h1 {
  opacity: 1;
  transform: translateY(0);
}

.sec2 .contentWrap {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 60px;
  overflow: hidden;
}
.sec2 .contentWrap .content {
  flex: 1;
  position: relative;
  margin: 0 320px 0 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sec2 .contentWrap .content > * {
  cursor: pointer;
}
.sec2 .contentWrap .content:before {
  content: attr(data-idx);
  position: absolute;
  font-size: 10em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.1);
  transform: translateY(-50%);
}
.sec2 .contentWrap .content .desc {
  position: absolute;
  color: #fff;
  font-weight: 600;
}
.sec2 .contentWrap .content .desc.en {
  left: -50px;
  bottom: 0;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: scale(-1);
}
.sec2 .contentWrap .content .desc.en span {
  display: inline-block;
  transition: 0.5s ease;
}
.sec2 .contentWrap .content .desc.en span:nth-child(2) {
  transition-delay: 0.3s;
}
.sec2 .contentWrap .content .desc.ko {
  font-size: 3.5em;
  letter-spacing: -4px;
  z-index: 1;
}
.sec2 .contentWrap .content .desc.ko span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.sec2 .contentWrap .content .desc.ko span:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 4px;
  background: #fff;
  transition: 0.6s ease;
}
.sec2 .contentWrap .content .imgWrap {
  position: relative;
  overflow: hidden;
}
.sec2 .contentWrap .content .imgWrap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.sec2 .contentWrap .content .imgWrap img {
  display: block;
  max-width: 604px;
}
.sec2 .contentWrap .content.cont1:before {
  top: 50%;
  right: -100px;
}
.sec2 .contentWrap .content.cont1 .ko {
  top: 70%;
  right: -115px;
}
.sec2 .contentWrap .content.cont1 .imgWrap span {
  background: #ab0c2c;
}
.sec2 .contentWrap .content.cont2 {
  align-self: flex-end;
}
.sec2 .contentWrap .content.cont2:before {
  top: -67px;
  right: 0;
}
.sec2 .contentWrap .content.cont2 .ko {
  top: -67px;
  right: 0;
}
.sec2 .contentWrap .content.cont2 .imgWrap span {
  background: #fccc0a;
}
.sec2 .contentWrap .content.cont3:before {
  bottom: 0;
  left: -150px;
  transform: translateY(35px);
}
.sec2 .contentWrap .content.cont3 .en {
  bottom: auto;
  top: 0;
}
.sec2 .contentWrap .content.cont3 .ko {
  top: 80%;
  right: -40px;
}
.sec2 .contentWrap .content.cont3 .imgWrap span {
  background: #2e87d3;
}
.sec2 .contentWrap .content.cont4 {
  align-self: flex-start;
}
.sec2 .contentWrap .content.cont4:before {
  bottom: -165px;
  left: 0;
  transform: translateY(0);
}
.sec2 .contentWrap .content.cont4 .ko {
  bottom: -30px;
  right: 0;
}
.sec2 .contentWrap .content.cont4 .imgWrap span {
  background: #ab0c2c;
}
.sec2 .contentWrap .content.cont5 {
  align-self: flex-end;
}
.sec2 .contentWrap .content.cont5:before {
  top: -75px;
  left: 0;
}
.sec2 .contentWrap .content.cont5 .ko {
  top: -67px;
  right: -25px;
}
.sec2 .contentWrap .content.cont5 .imgWrap span {
  background: #fccc0a;
}
.sec2 .contentWrap .content.cont6:before {
  bottom: 0;
  left: -165px;
  transform: translateY(35px);
}
.sec2 .contentWrap .content.cont6 .en {
  bottom: auto;
  top: 0;
}
.sec2 .contentWrap .content.cont6 .ko {
  top: 80%;
  right: -25px;
}
.sec2 .contentWrap .content.cont6 .imgWrap span {
  background: #2e87d3;
}
.sec2 .contentWrap .content:hover .en span {
  opacity: 0;
  transform: translateX(-25px);
}
.sec2 .contentWrap .content:hover .ko span:before {
  width: 100%;
}

.sec3 .contentWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
  padding: 100px 30px 0 20px;
}
.sec3 .contentWrap .content {
  position: relative;
}
.sec3 .contentWrap .content > * {
  cursor: pointer;
}
.sec3 .contentWrap .content.more {
  display: none;
}
.sec3 .contentWrap .content .descWrap {
  position: absolute;
  color: #fff;
  font-size: 3.5em;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.6s ease;
}
.sec3 .contentWrap .content .descWrap span {
  position: relative;
  white-space: nowrap;
}
.sec3 .contentWrap .content .descWrap span:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background: #fff;
}
.sec3 .contentWrap .content .imgWrap {
  position: relative;
}
.sec3 .contentWrap .content .imgWrap span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}
.sec3 .contentWrap .content .imgWrap img {
  width: 100%;
}
.sec3 .contentWrap .content .imgWrap img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
}
.sec3 .contentWrap .content:nth-child(3n-2) .imgWrap span {
  background: #ab0c2c;
}
.sec3 .contentWrap .content:nth-child(3n-1) .imgWrap span {
  background: #2e87d3;
}
.sec3 .contentWrap .content:nth-child(3n) .imgWrap span {
  background: #fccc0a;
}
.sec3 .contentWrap .content:hover .descWrap {
  opacity: 1;
  visibility: visible;
}
.sec3 .contentWrap .content:hover .descWrap span:before {
  width: 100%;
  transition: 0.5s 0.2s;
}
.sec3 .contentWrap .content:hover img.hover {
  opacity: 1;
  visibility: visible;
}
.sec3 .btnWrap {
  padding: 70px 0 150px;
  text-align: center;
}
.sec3 .btnWrap .btnMore {
  background: #222;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.sec3 .btnWrap .btnMore:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e87d3;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.6s;
}
.sec3 .btnWrap .btnMore:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: url(../images/btn_more.png) no-repeat center/cover;
  transform: translate(-50%, -50%);
}
.sec3 .btnWrap .btnMore:hover:before {
  transform: scale(1);
}
.sec3 .linkWrap {
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.sec3 .linkWrap a {
  display: inline-block;
  height: 43px;
  overflow: hidden;
  position: relative;
}
.sec3 .linkWrap a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform-origin: right;
  transition: 0.5s ease;
}
.sec3 .linkWrap a > span {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s ease;
}
.sec3 .linkWrap a > span span {
  font-size: 1.125em;
  letter-spacing: -1px;
  padding: 10px 0;
}
.sec3 .linkWrap a img {
  display: inline-block;
  margin: 0 3px 0 10px;
  width: 15px;
  transition: 0.3s;
}
.sec3 .linkWrap a:hover:before {
  transform: scaleX(0);
}
.sec3 .linkWrap a:hover > span {
  transform: translateY(-50%);
}
.sec3 .linkWrap a:hover img {
  transform: rotate(-90deg);
}

@media screen and (max-width: 989px) {
  header .navigation {
    height: 70px;
  }
  section:not(.sec1) {
    padding-top: 170px;
  }
  .sec1 h1 {
    left: 50px;
    bottom: 50px;
    font-size: 3em;
  }
  .sec3 .contentWrap .content .descWrap {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .subMenu .snsWrap {
    flex-direction: row;
    gap: 0 30px;
    top: auto;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  .subMenu .contentWrap {
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    min-width: auto;
    padding: 0 15px;
  }
  .subMenu .contentWrap .depth1 {
    gap: 10px 0;
  }
  .subMenu .contentWrap .depth1 .depth2 {
    text-align: left;
  }
  .subMenu .contentWrap .depth1 .depth2 > a {
    font-size: 1.5em;
    margin-left: 20px;
    color: #fff;
  }
  .subMenu .contentWrap .depth1 .depth2 > a:before {
    content: "";
    bottom: -2px;
    height: 2px;
  }
  .subMenu .contentWrap .depth1 .depth2 > a:after {
    top: 5px;
    left: -20px;
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }
  .subMenu .contentWrap .depth1 .depth2 .subContent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    gap: 10px 0;
    position: static;
  }
  .subMenu .contentWrap .depth1 .depth2 .subContent a:hover:before {
    width: 0;
  }
  .subMenu .contentWrap .depth1 .depth2:hover {
    transform: translateY(0);
  }
  .subMenu .contentWrap .depth1 .depth2:hover > a {
    transform: translateY(0);
  }
  .subMenu .contentWrap .depth1 .depth2:hover > a:after {
    color: #fff;
  }
  .subMenu .contentWrap .depth1 .depth2:hover .subContent {
    display: flex;
  }
  .subMenu .bottom .wrap {
    justify-content: center;
    gap: 0;
  }
  .subMenu .bottom .wrap .copyrights {
    font-size: 0.65em;
  }
  header .navigation .logo a img {
    height: 15px;
  }
  header .navigation .menu .btnSub {
    width: 30px;
    height: 12px;
  }
  header .navigation .menu .btnSub span {
    height: 2px;
  }
  header .navigation .menu .btnSub.active span:nth-child(1) {
    transform: translateY(-5px) rotate(45deg);
  }
  header .navigation .menu .btnSub.active span:nth-child(2) {
    transform: translateY(5px) rotate(-45deg);
  }
  section:not(.sec1) {
    padding-top: 110px;
  }
  section:not(.sec1) .titleWrap {
    overflow: hidden;
    padding: 0 20px;
  }
  section:not(.sec1) .titleWrap .title {
    font-size: 2.75em;
    letter-spacing: 0;
    transform: translateY(50px);
    transition: 0.6s ease;
  }
  section:not(.sec1) .titleWrap .title.active {
    transform: translateY(0);
  }
  .sec1 h1 {
    left: 20px;
    bottom: 100px;
    font-size: 1.875em;
  }
  .sec2 .contentWrap {
    flex-direction: column;
  }
  .sec2 .contentWrap .content {
    flex: auto;
    margin: 0;
    margin-bottom: 120px;
    width: 65%;
    min-width: 250px;
  }
  .sec2 .contentWrap .content > * {
    cursor: pointer;
  }
  .sec2 .contentWrap .content:before {
    font-size: 5em;
  }
  .sec2 .contentWrap .content .desc {
    position: absolute;
    color: #fff;
    font-weight: 600;
  }
  .sec2 .contentWrap .content .desc.en {
    font-size: calc(0.75em + 0.3vw);
    left: auto;
    bottom: auto;
  }
  .sec2 .contentWrap .content .desc.en span {
    opacity: 0;
  }
  .sec2 .contentWrap .content .desc.en.active span {
    opacity: 1;
  }
  .sec2 .contentWrap .content .desc.ko {
    font-size: calc(1em + 3vw);
    letter-spacing: -2px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.3s;
  }
  .sec2 .contentWrap .content .desc.ko.active {
    opacity: 1;
    transform: translateY(0);
  }
  .sec2 .contentWrap .content .desc.ko span:before {
    bottom: -1px;
    height: 2px;
    width: 100%;
  }
  .sec2 .contentWrap .content .imgWrap {
    width: 100%;
  }
  .sec2 .contentWrap .content .imgWrap span {
    display: none;
  }
  .sec2 .contentWrap .content .imgWrap img {
    width: 100%;
  }
  .sec2 .contentWrap .content.cont1:before {
    top: auto;
    right: auto;
    left: 50px;
    bottom: -140px;
  }
  .sec2 .contentWrap .content.cont1 .en {
    bottom: auto;
    top: 0;
    left: auto;
    right: -30px;
  }
  .sec2 .contentWrap .content.cont1 .ko {
    right: -75px;
  }
  .sec2 .contentWrap .content.cont2 {
    margin-right: 10px;
  }
  .sec2 .contentWrap .content.cont2:before {
    top: auto;
    bottom: -140px;
  }
  .sec2 .contentWrap .content.cont2 .en {
    left: -30px;
  }
  .sec2 .contentWrap .content.cont2 .ko {
    top: auto;
    right: auto;
    bottom: -20px;
    left: -35px;
  }
  .sec2 .contentWrap .content.cont3 {
    align-self: center;
  }
  .sec2 .contentWrap .content.cont3:before {
    bottom: -80px;
    left: 0;
    transform: translateY(0);
  }
  .sec2 .contentWrap .content.cont3 .en {
    bottom: auto;
    top: -30px;
    right: 0;
    -ms-writing-mode: initial;
        writing-mode: initial;
    transform: scale(1);
  }
  .sec2 .contentWrap .content.cont3 .ko {
    top: auto;
    bottom: -22px;
    right: 40px;
  }
  .sec2 .contentWrap .content.cont4 {
    align-self: flex-end;
    margin-right: 10px;
  }
  .sec2 .contentWrap .content.cont4:before {
    bottom: -80px;
    left: auto;
    right: 0;
  }
  .sec2 .contentWrap .content.cont4 .en {
    bottom: auto;
    left: -30px;
  }
  .sec2 .contentWrap .content.cont4 .ko {
    bottom: -40px;
    right: auto;
    left: -30px;
  }
  .sec2 .contentWrap .content.cont5 {
    align-self: flex-start;
    margin-left: 10px;
  }
  .sec2 .contentWrap .content.cont5:before {
    top: auto;
    bottom: -140px;
  }
  .sec2 .contentWrap .content.cont5 .en {
    bottom: auto;
    top: 0;
    right: -30px;
  }
  .sec2 .contentWrap .content.cont5 .ko {
    top: auto;
    bottom: -20px;
    right: -23px;
  }
  .sec2 .contentWrap .content.cont6 {
    align-self: center;
  }
  .sec2 .contentWrap .content.cont6:before {
    bottom: -80px;
    left: auto;
    right: 0;
    transform: translateY(0);
  }
  .sec2 .contentWrap .content.cont6 .en {
    bottom: auto;
    top: -30px;
    -ms-writing-mode: initial;
        writing-mode: initial;
    transform: scale(1);
  }
  .sec2 .contentWrap .content.cont6 .ko {
    top: auto;
    bottom: -20px;
    right: auto;
    left: 20px;
  }
  .sec2 .contentWrap .content:hover .en span {
    opacity: unset;
    transform: unset;
  }
  .sec3 .contentWrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 100px 20px 0 20px;
  }
  .sec3 .contentWrap .content {
    display: flex;
    flex-direction: column-reverse;
  }
  .sec3 .contentWrap .content .descWrap {
    position: static;
    font-size: 1em;
    opacity: 1;
    visibility: visible;
    transition: unset;
    padding-top: 10px;
  }
  .sec3 .contentWrap .content .imgWrap {
    max-height: 260px;
    overflow: hidden;
  }
  .sec3 .contentWrap .content .imgWrap img {
    transform: translateY(-10%);
  }
  .sec3 .contentWrap .content:hover .descWrap span:before {
    width: 0;
  }
  .sec3 .btnWrap {
    padding: 70px 0;
  }
  .sec3 .btnWrap .btnMore {
    width: 80px;
    height: 80px;
  }
  .sec3 .linkWrap a > span span {
    font-size: 0.85em;
    letter-spacing: 0;
  }
  .sec3 .linkWrap a img {
    margin: 0 3px;
    width: 10px;
  }
}/*# sourceMappingURL=style.css.map */